@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Sevillana&family=Unbounded&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif ;   
    
}

nav li.myntra{
    margin-right: .5px;
    padding-top: 10px;
}

nav ul{
    list-style: none;
    display: flex;
}


nav li{
    margin: 0 1em;
    padding-top: 30px;
}

nav li a{
    text-decoration: none;
    color: rgb(40,44,63);
    cursor: pointer;
    font-weight: bold;
    font-size:smaller;
}

nav li sup{
    font-size: x-small;
    font-weight: lighter;
}
